html {
  box-sizing: border-box;
}

*,
::after::before {
  box-sizing: inherit;
}

.body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #283839;
  border: 1px solid #767676;
  margin-top: 20px;
  font-family: "Lato", "sans-serif";
}

@media screen and (max-width: 600px) {
  .body {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    flex-basis: 80%;
  }
}
